<configuration>
  <property>
    <name>rest.zookeeper.property.clientPort</name>
    <value>2181</value>
  </property>
  <property>
    <name>rest.zookeeper.quorum</name>
    <value>{{$nodes := lsdir "/hosts/datanode"}}{{index $nodes 0}}</value>
  </property>
</configuration>
